body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
}

button {
    background: rgb(44, 189, 92);
    color: white;
}

